.movie-listing-form {
    font-size: 18px;
    padding-top: 15px;
}

.movie-listing-form input {
    padding: 5px;
}

.movie-listing-form label {
    display: block;
    padding-bottom: 10px;
}

.form-group {
    padding-bottom: 15px;
}

.full {
    width: 100%;
}

.mins {
    font-size: 13px;
}

.loading {
    display: none;
}

.order-save-msg, .order-save-err {
    display: none;
    padding: 10px !important;
}

.movie-sort-list {
    max-width: 400px;
}
.movie-sort-list li {
    padding: 12px;
    background-color: #f7f7f7;
    border: solid 1px #ddd;
}
.movie-sort-list li:hover {
    background-color: #f5f5f5;
    cursor: crosshair;
}